<template>
  <div class="action-block action-block--action-3">
    <div class="block start" v-if="startTest && !endTest && !modalBlock">
      <h2>Пройдите тест
        <br>и получите расчет по ипотеке
      </h2>
      <div class="action-block__desc">5 еффективных вопросов, которые помогут выбрать
        <br>подходящую ипотечную программу
      </div>
      <div class="buttons">
        <button class="btn btn--accent action-3__btn" @click="start">Начать тест</button>
      </div>
    </div>

    <div class="steps" v-if="!startTest">
      <div v-for="(quest, i) in quests[k]" :key="i">
        <h2>{{quest.title}}</h2>
        <ul class="radio-buttons" :id="'quest-'+k">
          <li class="radio-button" v-for="(val, j) in quest.questIn" :key="j">
            <input
              type="radio"
              :value="quest.questIn[j]"
              v-model="stepsVal"
              :id="j"
              @change="complet"
            >
            <label :for="j">{{quest.questIn[j]}}</label>
          </li>
        </ul>
      </div>
      <div class="buttons">
        <button class="button btn btn--accent cancel" @click="prevSteps">Назад</button>
        <button class="button btn btn--accent next" @click="nextSteps" v-if="completedSteps">Далее</button>
      </div>
    </div>
    <div class="end-test" v-if="endTest">
      <h2>Отлично! Остался последний шаг! Укажите Ваш номер телефона и мы сообщим вам результат теста.</h2>
      <input
        type="text"
        name="tel"
        placeholder="Введите свой телефон"
        v-model.number="tel"
        @change="valid"
      >
      <div class="buttons">
        <button class="button btn btn--accent cancel" @click="cancelForms">Отмена</button>
        <button class="button btn btn--accent" @click="sendForms">Отправить</button>
      </div>
    </div>
    <div class="modal-block" v-if="modalBlock">
      <h2>Спасибо, что прошли тест!</h2>
      <p>Мы уже начали работу и наш менеджер свяжется с вами в ближайшее время</p>
    </div>
  </div>
</template>

<script>
import req from "superagent";
export default {
  data() {
    return {
      k: 0,
      startTest: true,
      endTest: false,
      tel: "",
      stepsVal: "",
      steps: [],
      modalBlock: false,
      completedSteps: false,
      titleEnd: "",
      quests: [
        [
          {
            title: "С какой целью вы планируете приобрести квартиру?",
            questIn: [
              "Для проживания",
              "Для инвестиций",
              "Детям (на будущее)",
              "Не определился"
            ]
          }
        ],
        [
          {
            title: "Какое количество комнат вам необходимо?",
            questIn: [
              "1-комнатная",
              "2-комнатная",
              "3-комнатная",
              "Евро 2-комнатная",
              "Евро 3-комнатная",
              "Больше 3х комнат"
            ]
          }
        ],
        [
          {
            title: "Какая форма оплаты вам будет удобна?",
            questIn: [
              "Единовременная оплата",
              "Рассрочка",
              "Ипотека",
              "Субсидия",
              "Не определился"
            ]
          }
        ],
        [
          {
            title: "Вы хотели бы встречать рассвет или провожать закат?",
            questIn: ["Рассвет", "Закат"]
          }
        ],
        [
          {
            title: "Выберите тип отделки?",
            questIn: ["Без отделки", "Подготовка под отделку", "Чистовая"]
          }
        ],
        [
          {
            title: "Когда вы планируете отделку?",
            questIn: [
              "В ближайшее время",
              "Через 6-8 месяцев",
              "Не раньше, чем через год",
              "Сразу, если квартира понравится",
              "Не определился"
            ]
          }
        ],
        [
          {
            title: "Какие дополнительные параметры для вас важны?",
            questIn: [
              "Гардеробная или кладовая",
              "Кухня-гостиная",
              "Прачечная",
              "Широкий балкон",
              "Обеденная зона",
              "Не определился"
            ]
          }
        ],
        [
          {
            title: "Рассчитываете ли вы на определенный ценовой сегмент?",
            questIn: [
              "До 6 млн. Р",
              "От 7 млн. Р до 9 млн. Р",
              "От 9 млн. Р до 11 млн. Р",
              "Не определился"
            ]
          }
        ]
      ]
    };
  },
  methods: {
    prevSteps() {
      if (this.quests.length - 1 >= this.k && this.k != 0) {
        this.k--;
        this.steps.splice([this.k], 1);
        this.completedSteps = false;
      }
    },
    nextSteps() {
      console.log("K:", this.k);
      let length = this.quests.length - 1;
      if (this.k < length) {
        this.k++;
        this.steps.push(this.stepsVal);
        this.completedSteps = false;
      } else if (this.k == length) {
        this.steps.push(this.stepsVal);
        this.startTest = true;
        this.endTest = true;
        // this.completedSteps = false;
      }
    },
    start() {
      this.startTest = false;
    },
    sendForms() {
      let sendTestData = {};

      sendTestData = {
        phone: this.tel,
        ansver: this.steps
      };
      if (this.tel != "") {
        console.log("FormSend", sendTestData);
        req
          .post("ajaxTest.php")
          .send(sendTestData)
          .then(res => {
            console.log(res);
            this.modalBlock = true;
            this.endTest = false;
          });
      }
    },
    complet() {
      this.completedSteps = true;
    },
    cancelForms() {
      this.startTest = true;
      this.endTest = false;
      this.steps = [];
      this.k = 0;
    },
    valid() {
      return (this.tel = this.tel.replace(/[^0-9]/g, ""));
    }
  },
  computed: {
    // valid() {
    //   return this.tel.replace(/[^0-9]/g, "");
    // }
  }
};
</script>

<style>
.btn--accent {
  background: #ce9555;
  background: linear-gradient(-45deg, #ce9555, #e8d797, #ce9555, #e8d797);
  background: -moz-linear-gradient(left, #ce9555, #e8d797, #ce9555, #e8d797);
  padding: 0 30px;
  height: 51px;
  animation-direction: alternate !important;
  background-size: 400% 400%;
  animation: d 10s ease infinite;
  transition: all 0.5s ease;
}
</style>
